<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>first</title>
  </head>
  <body>
    <div id="app">
      {{postFontSize}}
      <ButtonCounter />
      <div>
        <blog-post
          v-for="post in posts"
          v-bind:post="post"
          v-on:enlarge-text="postFontSize+=$event"
          v-bind:key="post.id">
        </blog-post> 
      </div>
      {{searchText}}
      <custom-input v-model="searchText"></custom-input>
      <alert-box>
        Something bad happened.
      </alert-box>
      <component
        v-bind:is="currentTabComponent"
      ></component>
    </div>
  </body>
</html>
